<template>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-8 mt-4">
                <div class="card">
                    <div class="card-header">
                        Dashboard
                    </div>
                    <div class="card-body">
                        Welcome {{ user ? user.name : 'NoUser' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex';
export default {
    name: "Dashboard",
    computed: {
        ...mapGetters(['user'])
    }
}
</script>

<style scoped>

</style>
