<template>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-8 mt-4">
                <div class="card">
                    <div class="card-body">
                        <form @submit.prevent="onSubmit">
                            <div class="form-group">
                                <label for="emailInput">Email address</label>
                                <input v-model="formData.email" type="email" class="form-control" id="emailInput" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="pwdInput">Password</label>
                                <input v-model="formData.password" type="password" class="form-control" id="pwdInput" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from 'vuex';
export default {
    name: "Login",

    data() {
        return {
            formData: {
                email: '',
                password: '',
            }
        }
    },

    methods: {
        ...mapActions(['login']),
        async onSubmit() {
            await this.login(this.formData);
            return this.$router.replace({name: 'dashboard'});
        }
    }
}
</script>

<style scoped>

</style>
