<template>
    <div>
        <Header v-if="authenticated" :user="user" />
        <router-view></router-view>
    </div>
</template>

<script>
import Header from "./Header";
import Login from "../views/Login";
import {mapGetters} from 'vuex';
export default {
    name: "App",
    components: {
        Header,
        Login,
    },
    computed: {
        ...mapGetters(['authenticated', 'user'])
    },

}
</script>

<style scoped>

</style>
